body {
  background-color: #5CDB95;
  font-family: 'Open Sans', sans-serif;
}

iframe {
  width: 100%;
}

#todaysDate {
  text-align: center;
}

/* SVG graphic style designe */
.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}

.graph {
  height: 500px;
  width: 800px;
  /* background-color: black; */
}

.graph .grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.labels {
  font-size: 13px;
}

.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  fill: black;
}

.data {
  fill: red;
  stroke-width: 3; 
}
/* END of SVG graphic style designe */